{% extends 'base.html'%} {% block content %}
<h3 class="art-deco-font mb-3">Add your Recipe</h3>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">Cocktail Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="Not Available yet" id="disabled" type="text" class="validate">
                <label for="disabled">Cocktail Image</label>
            </div>
        </div>
        <div class="switch">
            <label>
            <input type="checkbox">
            <span class="lever"></span>
                    Suitable for Vegans
            </label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="Not Available yet" id="disabled" type="text" class="validate">
                <label for="disabled">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="Not Available yet" id="disabled" type="text" class="validate">
                <label for="disabled">Steps</label>
            </div>
        </div>
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choose Base Spirit</option>
                {% for spirit in base_spirit %}
                <option value="{{spirit.spirit_name}}">{{spirit.spirit_name}}</option>
                {% endfor %}
            </select>
            <label>Base Spirit</label>
        </div>
        <div class="input-field col s12">
            <select multiple>
                <option value="" disabled selected>Choose Cocktail Type or Types</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Cocktail Type</label>
        </div>
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choose Flavour Profile</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Flavour Profile</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{session['username']}}" id="disabled" type="text" class="validate">
                <label for="disabled">Author Name</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit <i class="fas fa-glass-martini-alt fa-xs"></i>
        </button>
    </form>
</div>
{% endblock %}
