{% extends 'base.html'%} {% block content %}
<h3 class="art-deco-font mb-3">Add your Recipe</h3>
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('write_to_cocktail_database') }}">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="recipe_name">Cocktail Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Placeholder" id="recipe_description" name="recipe_description" type="text" class="validate" required>
                <label for="recipe_description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="Not Available yet" id="disabled" name="recipe_image" type="text" class="validate">
                <label for="disabled">Cocktail Image</label>
            </div>
        </div>
        <div class="switch">
            <label>
            <input type="checkbox" id="is_vegan" name="is_vegan">
            <span class="lever"></span>
                    Suitable for Vegans
            </label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select id="measure_unit" name="measure_unit" required>
                <option value="" disabled selected>Choose Measure Unit (Required)</option>
                {% for unit in measure_units %}
                <option value="{{unit.measure_unit_name}}">{{unit.measure_unit_name}}</option>
                {% endfor %}
            </select>
                <input disabled value="Not Available yet" id="disabled" name="ingredients" type="text" class="validate">
                <label for="disabled">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="Not Available yet" id="disabled" name="steps" type="text" class="validate">
                <label for="disabled">Steps</label>
            </div>
        </div>
        <div class="input-field col s12">
            <select id="base_spirit" name="base_spirit" required>
                <option value="" disabled selected>Choose Base Spirit (Required)</option>
                {% for spirit in base_spirit %}
                <option value="{{spirit.spirit_name}}">{{spirit.spirit_name}}</option>
                {% endfor %}
            </select>
            <label>Base Spirit</label>
        </div>
        <div class="input-field col s12">
            <select multiple id="cocktail_type" name="cocktail_type" required>
                <option value="" disabled selected>Choose Cocktail Type or Types (Required)</option>
                {% for type in cocktail_type %}
                <option value="{{type.cocktail_type_name}}">{{type.cocktail_type_name}}</option>
                {% endfor %}
            </select>
            <label>Cocktail Type</label>
        </div>
        <div class="input-field col s12">
            <select id="flavour_profile" name="flavour_profile" required>
                <option value="" disabled selected>Choose Flavour Profile (Required)</option>
                {% for flavour in flavour_profile %}
                <option value="{{flavour.flavour_profile_name}}">{{flavour.flavour_profile_name}}</option>
                {% endfor %}
            </select>
            <label>Flavour Profile</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{session['username']}}" id="author_name" name="author_name" type="text" class="validate">
                <label for="author_name">Author Name</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit <i class="fas fa-glass-martini-alt fa-xs"></i>
        </button>
    </form>
</div>
{% endblock %}
