{% extends 'base.html'%} {% block content %}
<div class="row">
    {% for recipe in recipes %}
        <div class="col s12 m4 l3 cocktail-card" id="cocktail-card">
            <div class="card">
                <div class="card-image">
                    <img src="{{recipe.recipe_image}}">
                    <div class="card-title card-title-spice">
                        <span id="recipe_name" name="recipe_name" class="card-title art-deco-font">{{recipe.recipe_name}}</span>
                    </div>
                </div>
                <div class="card-content class-size">
                    <p id="description">{{recipe.recipe_description}}</p>
                </div>
                <div class="card-action">
                    <a href="/show_cocktail/{{ recipe.recipe_url }}">See Recipe</a>
                </div>
            </div>
            <!-- more display -->
        </div>
    {% endfor %} 
    </div>
    <div>
        <a id="loadMore" class="btn-small center">Load More <i class="fas fa-plus fa-xs"></i></a>
    </div>
    {% endblock %}

