{% extends 'base.html'%} {% block content %}
<h3 class="art-deco-font mb-3">Edit your Recipe</h3>
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('write_to_cocktail_database') }}">
        <div class="row white">
            <div class="input-field col s12">
                <input value="{{recipe.recipe_name}}" id="recipe_name" name="recipe_name" type="text" class="validate">
                <label for="recipe_name">Cocktail Name</label>
            </div>
        </div>
        <div class="row white">
            <div class="input-field col s12">
                <input value="{{recipe.recipe_description}}" id="recipe_description" name="recipe_description" type="text" class="validate">
                <label for="recipe_description">Description</label>
            </div>
        </div>
        <div class="row white">
            <div class="input-field col s12">
                <input disabled value="Default Image" id="disabled" name="recipe_image" type="text" class="validate">
                <label for="disabled">Cocktail Image</label>
            </div>
        </div>
        <div class="row white">
            <select id="is_vegan" name="is_vegan">
                <option value="" disabled selected>Is it vegan? (*)</option>
                {% if recipe['is_vegan'] == 'true' %}
                <option value="true" selected >Yes</option>
                <option value="false">No</option>
                {% else %}
                <option value="true">Yes</option>
                <option value="false" selected >No</option>
                {% endif %}
            </select>
            <label>Vegan</label>
        </div>
        <div class="row white">
            <h5>Ingredients:</h5>
            <div id="ingredient-adder">
                <div class="ingredient-field">
                    <div class="input-field col s12 m3">
                        <input id="quantity-0" name="quantity-0" type="number" step="0.01" class="validate">
                        <label for="quantity-0">Quantity (*)</label>
                    </div>
                    <div class="input-field col s12 m2">
                        <input value="" id="measure_unit-0" name="measure_unit-0" type="text" class="validate">
                        <label for="measure_unit">Measure Unit (*)</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input value="" id="ingredient_name-0" name="ingredient_name-0" type="text" class="validate">
                        <label for="ingredient_name">Ingredient Name (*)</label>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <a id="remove-ingredient-btn" class="#b71c1c red darken-4 btn-small">Remove Ingredient <i class="fas fa-minus-circle fa-xs"></i></a>
                <a id="add-ingredient-btn" class="btn-small">Add Ingredient <i class="fas fa-plus fa-xs"></i></a>
            </div>
        </div>
        <div class="row white">
            <h5>Steps:</h5>
            <div id="step-adder">
                <div class="input-field col s12">
                    <div class="step-field">
                        <input value="" id="step-0" name="step-0" type="text" class="validate">
                        <label for="step-0">Step</label>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <a id="remove-step-btn" class="#b71c1c red darken-4 btn-small">Remove Step <i class="fas fa-minus-circle fa-xs"></i></a>
                <a id="add-step-btn" class="btn-small">Add Step <i class="fas fa-plus fa-xs"></i></a>
            </div>
        </div>
        <div class="row white">
            <div class="input-field col s12">
                <select id="base_spirit" name="base_spirit">
                    <option value="" disabled selected>Choose Base Spirit (*)</option>
                    {% for spirit in base_spirit %}
                    <option value="{{spirit.spirit_name}}">{{spirit.spirit_name}}</option>
                    {% endfor %}
                </select>
                <label>Base Spirit</label>
            </div>
            <div class="input-field col s12">
                <select multiple id="cocktail_type" name="cocktail_type">
                    <option value="" disabled selected>Choose Cocktail Type or Types</option>
                    {% for type in cocktail_type %}
                    <option value="{{type.cocktail_type_name}}">{{type.cocktail_type_name}}</option>
                    {% endfor %}
                </select>
                <label>Cocktail Type</label>
            </div>
            <div class="input-field col s12">
                <select id="flavour_profile" name="flavour_profile">
                    <option value="" disabled selected>Choose Flavour Profile (*)</option>
                    {% for flavour in flavour_profile %}
                    <option value="{{flavour.flavour_profile_name}}">{{flavour.flavour_profile_name}}</option>
                    {% endfor %}
                </select>
                <label>Flavour Profile</label>
            </div>
        </div>
        <div class="row white">
            <div class="input-field col s12">
                <input disabled value="{{session['username']}}" id="author_name" name="author_name" type="text" class="validate">
                <label for="author_name">Author Name</label>
            </div>
        </div>
        <a class="btn waves-effect waves-light" name="action" href="/get_my_recipes">
            Go Back without Saving <i class="fas fa-arrow-circle-left fa-xs"></i>
        </a>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Save changes <i class="far fa-save fa-xs"></i>
        </button>
    </form>
</div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            // FOR EDIT COCKTAIL FORM
            var veganBoolean = "{{recipe.is_vegan}}";
            if (veganBoolean == 'true') {
                console.log('is this vegan?', veganBoolean);
            } else {
                console.log('is this vegan?', veganBoolean);
            }
            $('#is_vegan').formSelect();
        });
    </script>
{% endblock %}