{% extends 'base.html'%} {% block content %} {% if not logged_in %}
    <p>enter your username and start mixing and shaking</p>
    <div class="row white">
        <form class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username"><i class="fas fa-user"></i> Username</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Submit
            </button>
        </form>
    </div>
{% endif %} {% if logged_in %}
    <h3 class="art-deco-font">Hi there, {{username}}. Welcome to your Mix and Shake dashboard!</h3>
    <p>Here, you'll find some insights about your recipes and inspiration to keep mixing!</p>
    <h5>
        Inline Number Display. You have created (<span class="counter-text-my-recipes"></span>) recipes.
    </h5>
        <div class="container">

            <div id="counter-box-my-recipes" class="#880e4f pink darken-4">
                <p class="art-deco-font">Number here</p>
            </div>
        </div>
        <div id="log-in-buttons">
            <a href="{{url_for('get_my_recipes')}}" class="waves-effect waves-light btn-small pink darken-4"><i class="fas fa-cocktail"></i>See your Recipes</a>
            <a href="/get_logout" class="waves-effect waves-light btn-small"><i class="fas fa-sign-out-alt"></i>Log Out</a>
        </div>
        <p id="hidden-recipes" hidden>{{recipes|safe}}</p>
        <!-- Below, the script containing the dashboard grapshs -->
        <script>
            $(document).ready(function() {
                var username = '{{username}}';
                
                var recipesText = $('#hidden-recipes').text();
                var recipesJson = JSON.parse(recipesText);
                var recipesList = [];
                
                for (i in recipesJson) {
                    recipesList.push(recipesJson[i]);
                }
                console.log('recipesList: ', recipesList);
            
                // queue()
                //     .defer(d3.json, recipesJson)
                //     .await(makeDashboard);
                
                makeDashboard(recipesList);
                // Setting up to make dashboard
                function makeDashboard(recipesList) {
                    var ndx = crossfilter(recipesList);
                    
                    // Below, I call the functions used for the different 
                    // graphs in the dashboard
                    
                    counterMyRecipes(ndx);
                    dc.renderAll();
                }
                
                function counterMyRecipes(ndx) {
                    myRecipesList = [];
                    // console.log(username);
                    // console.log('author_name: ', recipesList[1]['author_name']);
                    
                    for ( var i = 0; i < recipesList.length; i++ ) {
                        let authorName = recipesList[i]['author_name'];
                        
                        if ( username == authorName ) {
                            myRecipesList.push(recipesList[i]);
                            
                            // console.log('author_name: ', authorName);
                        }
                        
                    }
                    console.log('this recipes are mine: ', myRecipesList);
                    // console.log()
                    
                    // console.log('myRecipesList: ', myRecipesList);
                //     // Define our vars for dimension and group
                //     var myRecipeCountDim = ndx.dimension(function(d) {
                //         // console.log(recipesList)
                //         // for (i in recipesList) {
                //         //     // console.log(i);
                //         // }
                        
                //         countMyRecipes = 0
                //         if (d['author_name'] == username) {
                //             countMyRecipes++;
                        
                //             console.log('countMyRecipes: ', countMyRecipes);  
                        }
                          

                        
                //         return countMyRecipes;
                //     });
                    
                //     var myRecipeCountGroup = myRecipeCountDim.group();
                  
                //     // Render our number display
                //     // Prep for the legend - END
                    
                //     dc.numberDisplay("#counter-box-my-recipes")
                //         .width(300)
                //         .height(400)
                //         // .transitionDuration(500)
                //         .formatNumber(d3.format("d"))
                //         .valueAccessor(function (d) {
                //             for (i in d) {
                //                 countMyRecipes = 0
                //                 if (d['author_name'] == username) {
                //                   countMyRecipes++; 
                //                 }
                //             }
                            
                //             return countMyRecipes;
                //         })
                //         .group(myRecipeCountGroup);
                // }
            });
        </script>
    {% endif %} {% endblock %}
