{% extends 'base.html'%} {% block content %} {% if not logged_in %}
    <p>enter your username and start mixing and shaking</p>
    <div class="row white">
        <form class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username"><i class="fas fa-user"></i> Username</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Submit
            </button>
        </form>
    </div>
{% endif %} {% if logged_in %}
    <h3 class="art-deco-font">Hi there, {{username}}. Welcome to your Mix and Shake dashboard!</h3>
    <p>Here, you'll find some insights about your recipes and inspiration to keep mixing!</p>
    <h5>
        Inline Number Display. You have created (<span class="counter-text-my-recipes"></span>) recipes.
    </h5>
        <div class="container">

            <div id="counter-box-my-recipes" class="#880e4f pink darken-4">
                <p class="art-deco-font">Number here</p>
            </div>
        </div>
        <div id="log-in-buttons">
            <a href="{{url_for('get_my_recipes')}}" class="waves-effect waves-light btn-small pink darken-4"><i class="fas fa-cocktail"></i>See your Recipes</a>
            <a href="/get_logout" class="waves-effect waves-light btn-small"><i class="fas fa-sign-out-alt"></i>Log Out</a>
        </div>
        <p id="hidden-recipes" hidden>{{recipes|safe}}</p>
        <!-- Below, the script containing the dashboard grapshs -->
        <script>
            $(document).ready(function() {
                console.log('dashboard ready');
                var username = '{{username}}';
                console.log('username: ', username);
                
                var recipesText = $('#hidden-recipes').text();
                var recipesJson = JSON.parse(recipesText);
                // console.log('recipesJson: ', recipesJson);
                
                // var recipes = JSON.parse('{{recipes|safe}}');
                // console.log(recipes);
                
                makeDashboard(recipesJson);
                // Setting up to make dashboard
                function makeDashboard(recipesJson) {
                    var ndx = crossfilter(recipesJson);
                    console.log('recipesJson: ', recipesJson);
                    // console.log('ndx: ', ndx);
                    
                    // Below, I call the functions used for the different 
                    // graphs in the dashboard
                    
                    counterMyRecipes(ndx);
                    dc.renderAll();
                }
                
                function counterMyRecipes(ndx) {
                    var counterMyRecipes = 0
                    for (i in recipesJson) {
                        var author_name = recipesJson[i]['author_name']
                        if (username == author_name) {
                            counterMyRecipes ++;                        }
                    }
                    console.log('my recipes: ', counterMyRecipes);
                    
                    var counterTextMyRecipes = d.numberDisplay('#counter-text-my-recipes');
                    var counterBoxMyRecipes = dc.numberDisplay('#counter-box-my-recipes');
                    
                    var ndx = crossfilter(recipesJson)
                }
            });
        </script>
    {% endif %} {% endblock %}
