{% extends 'base.html'%} {% block content %}
{% if not logged_in %}
<p>enter your username and start mixing and shaking</p>
<div class="row white">
    <form class="col s12" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username"><i class="fas fa-user"></i> Username</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
            Submit
        </button>
    </form>
</div>
{% endif %} {% if logged_in %}
<p>Hi there, {{username}}. Welcome to Mix and Shake!</p>
<p>Your dashboard</p>
<p>Author Name</p>
<div>
    <a href="{{url_for('get_my_recipes')}}" class="waves-effect waves-light btn-small pink darken-4"><i class="fas fa-cocktail"></i>See your Recipes</a>
    <a href="/get_logout" class="waves-effect waves-light btn-small"><i class="fas fa-sign-out-alt"></i>Log Out</a>
</div>
{% endif %} {% endblock %}