{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col s12 white add-cocktail-box">
        <div class="icon-block">
            <h2 class="center brown-text art-deco-font">Add a Cocktail</h2>
            <p class="light center">Click to open a form that will let you write your recipe and add it to your personal cocktail menu.</p>
        </div>
        <a href="/get_add_cocktail_form" class="waves-effect waves-light btn #880e4f pink darken-4">Add a Cocktail</a>
    </div>
</div>
<div class="row">
    <div class="col s12 #00695c teal darken-2">
        <div class="icon-block">
            <h2 class="center white-text art-deco-font">My Cocktails</h2>
            <!--<p class="light">Click to open a form that will let you write your recipe and add it to your personal cocktail menu.</p>-->
        </div>
    </div>
</div>

{% for recipe in recipes %} {% if recipe.author_name == username %}
<!-- Trying out a collection display-->
<ul class="collection">
    <li class="collection-item avatar">
        <img src="{{recipe.recipe_image}}" alt="" class="circle">
        <span class="title"><strong>{{recipe.recipe_name}}</strong></span>
        <p>{{recipe.recipe_description}}</p>
        <span>Base Spirit: {{recipe.base_spirit}}</span>
        <span>Cocktail Type: {{recipe.cocktail_type}}</span>
        <span>Flavour Profile: {{recipe.flavour_profile}}</span>

        <a href="#!" class="secondary-content">
            Rating here
        </a>
    </li>
    <li class="collection-item">
        <div class="row">
            <div class="col s3 art-deco-font"><a href="/show_cocktail/{{ recipe.recipe_url }}" class="secondary-content"><i class="fas fa-cocktail"></i> Go to Recipe</a></div>
            <div class="col s3 art-deco-font"><a href="/get_edit_cocktail_form/{{ recipe._id }}" class="secondary-content"><i class="far fa-edit"></i> Edit</a></div>
            <div class="col s3 art-deco-font"><a href="#!" class="secondary-content modal-trigger" data-target="modal-confirm-delete-{{ recipe._id }}"><i class="far fa-trash-alt"></i> Delete</a></div>
        </div>
    </li>
</ul>
<!-- Modal Structure -->
<div id="modal-confirm-delete-{{ recipe._id }}" class="modal">
    <div class="modal-content">
        <h4>Please Confirm Delete</h4>
        <p>Once you delete a recipe, it's gone.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel and Go Back</a>
        <a href="/delete_cocktail/{{ recipe._id }}" class="modal-close waves-effect waves-green btn-flat">Confirm Delete</a>
    </div>
</div>
{% endif %} {% endfor %} {% endblock %}
