{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col s12">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">My Cocktails</h5>
            <p class="light">This is where the existing recipes will appear,
            accompanied of buttons to open a recipe, edit or delete.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Add a Cocktail</h5>

            <p class="light">This will open the form to enter our cocktail into the database.</p>
        </div>
        <a href="/get_add_cocktail_form" class="waves-effect waves-light btn">Add a Cocktail</a>
    </div>
</div>
{% endblock %}
