{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col s12">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">My Cocktails</h5>
            <p class="light">This is where the existing recipes will appear, accompanied of buttons to open a recipe, edit or delete.</p>
        </div>
    </div>
</div>
<p>My recipes HERE</p>
<p>The plan is to see if author_name == username and in that case, render those recipes</p>
<div class="row">
{% for recipe in recipes %}
{% if recipe.author_name == username %}
<div class="col s12 m4 l3">
    <div class="card">
        <div class="card-image">
            <img src="{{recipe.recipe_image}}">
            <span id="recipe_name" name="recipe_name" class="card-title">{{recipe.recipe_name}}</span>
        </div>
        <div class="card-content class-size">
            <p id="description">{{recipe.recipe_description}}</p>
        </div>
        <div class="card-action">
            <a href="/show_cocktail/{{ recipe.recipe_url }}">See Recipe</a>
        </div>
    </div>
    <!-- more display -->
</div>
{% endif %}
{% endfor %}
<div class="row">
    <div class="col s12">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Add a Cocktail</h5>

            <p class="light">This will open the form to enter our cocktail into the database.</p>
        </div>
        <a href="/get_add_cocktail_form" class="waves-effect waves-light btn">Add a Cocktail</a>
    </div>
</div>
{% endblock %}
