{% extends 'base.html'%} {% block content %}
<h2 class="art-deco-font">Search for a cocktail</h2>
<!-- Attempt with example - START -->
<div class="container" id="selector-container">
    <p>Select the characteristics of the cocktail you're looking for...</p>
    <div id="select1" class="search-selector">
        <p class="no-margin  art-deco-font">Base Spirit</p>
    </div>
    <div id="select2" class="search-selector">
        <p class="no-margin  art-deco-font">Cocktail Type</p>
    </div>
    <div id="select3" class="search-selector">
        <p class="no-margin  art-deco-font">Flavour Profile</p>
    </div>
    <div id="select4" class="search-selector">
        <p class="no-margin  art-deco-font">Vegan Filter</p>
    </div>
</div>
<!--<div style="clear: both"></div>-->
<div id="cocktails-found"><strong><span class="size"></span> Cocktails Found</strong></div>
<div id="datatable"></div>
<!-- Attempt with example - END -->
<!-- Pagination - START -->
<div id="paging">
    Showing <span id="begin"></span>-<span id="end"></span> of <span class="size"></span>.
    <input id="previous" class="btn" type="Button" value="Previous"/>
    <input id="next" class="btn" type="button" value="Next"/>
</div>
<!-- Pagination - ENd -->

<p id="hidden-recipes-search" hidden>{{recipes|safe}}</p>
<script>
/*global $*/
/*global dc*/
/*global crossfilter*/

    $(document).ready(function() {
                
        var recipesText = $('#hidden-recipes-search').text();
        var recipesJson = JSON.parse(recipesText);
        
        var recipesList = [];
        
        for (i in recipesJson) {
            recipesList.push(recipesJson[i]);
        }
        
        // Getting search - START
        var select1 = dc.selectMenu('#select1'),
            select2 = dc.selectMenu('#select2'),
            select3 = dc.selectMenu('#select3'),
            select4 = dc.selectMenu('#select4'),
            datatable = dc.dataTable('#datatable'),
            numberDisplay = dc.numberDisplay('cocktails-found');
            
        // Fixing the selector classes - START

        $('#selector-container').find('select').addClass('browser-default');
        // Fixing the selector classes - END
            
        // create vars for selector
        var baseSpirits = []
        for (var i =0; i < recipesList.length; i++) {
            baseSpirits.push(recipesList[i]['base_spirit'])
        }
        var cocktailType = []
        for (var i =0; i < recipesList.length; i++) {
            cocktailType.push(recipesList[i]['cocktail_type'])
        }
        var flavourProfile = []
        for (var i =0; i < recipesList.length; i++) {
            flavourProfile.push(recipesList[i]['flavour_profile'])
        }
        var isVegan = []
        for (var i =0; i < recipesList.length; i++) {
            isVegan.push(recipesList[i]['is_vegan'])
        }
        
        // Create vars for table content
        var recipeName = []
        for (var i =0; i < recipesList.length; i++) {
            recipeName.push(recipesList[i]['recipe_name'])
        }
        
        
        var ndx = crossfilter(recipesList),
            spiritDimension = ndx.dimension(function(d) { return d.base_spirit; }),
            typeDimension = ndx.dimension(function(d) { return d.cocktail_type; }),
            flavourDimension = ndx.dimension(function(d) { return d.flavour_profile; }),
            veganDimension = ndx.dimension(function(d) { return d.is_vegan; }),
            nameDimension = ndx.dimension(function(d) { return d.recipe_name; });
        
        select1
            .dimension(spiritDimension)
            .group(spiritDimension.group())
            .controlsUseVisibility(true);
        select2
            .dimension(typeDimension)
            .group(typeDimension.group())
            .controlsUseVisibility(true);
        select3
            .dimension(flavourDimension)
            .group(flavourDimension.group())
            .controlsUseVisibility(true);
        select4
            .dimension(veganDimension)
            .group(veganDimension.group())
            .controlsUseVisibility(true);
        datatable
            .dimension(nameDimension)
            .group(function(d) { 
                return ['<a href="' + 'show_cocktail/' + d.recipe_url + '">' + '<strong>' + d.recipe_name + '</strong>' + '</a>' + ': ' + d.recipe_description]; 
            })
            // .columns([' Cocktails Found'])
            .size(recipesList.length);

        // Calculate cocktails found - START
        numberDisplay
            .formatNumber(d3.format("d"))
            .valueAccessor(function (d) {
                // d = myRecipesList.length
                return (+d);
            })
            .group(nameDimension.group());
        // Calculate cocktails found - END
        update();
        dc.renderAll();
        // Getting search - END
        
        // Pagination functionality - START
        
        // use odd page size to show the effect better

        var ofs = 0;
        var pag = 10;
        
        // Begin and End of Total Numbers - SART
        $("#begin").html(ofs + 1);
        $("#end").html(ofs + pag);
        $("#size").text('total filtered');
        // Begin and End of Total Numbers - END

        function display() {

            d3.select('#begin')
                .text(ofs + 1);
            d3.select('#end')
                .text(ofs+pag);
            d3.select('#previous')
                .attr('disabled', 'disabled');
                if ( ofs > 0 ) {
                    $("#previous").removeAttr('disabled');
                }
            d3.select('#next')
                .attr('disabled', ofs + pag >= ndx.size() ? 'true' : null);
                console.log('ofs + pag: ', ofs + pag);
                console.log('ndx.size(): ', ndx.size());
            d3.select('.size')
                .text('mu');
        }
        
        
        function update() {
            datatable.beginSlice(ofs);
            datatable.endSlice(ofs+pag);
            display();
        }

        $("#previous").on("click", function(){
            ofs -= pag;
            update();
            datatable.redraw();
        });
        $("#next").on("click", function(){
            ofs += pag;
            update();
            datatable.redraw();
        });
        //   Pagination functionality - END
        
        // Re-drawing the dataTable after selecting options - START
        $(".search-selector").on('change', function() {
            console.log('selector changed');
            update();
            datatable.redraw();
        });
        
        // Re-drawing the dataTable after selecting options - END

    });
</script>
{% endblock %}