{% extends 'base.html'%} {% block content %}
<p>A specific cocktail recipe you want to see</p>

<div class="col s12">
    <div class="icon-block">
        <h2 class="brown-text">{{recipe.recipe_name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <img src="{{recipe.recipe_image}}">
    </div>
    <div class="col s12 m4">
        <h5>{{recipe.recipe_description}}</h5>
        <p>Base Spirit: {{recipe.base_spirit}}</p>
        <p>Cocktail Type: {{recipe.cocktail_type}}</p>
        <p>Flavour Profile: {{recipe.flavour_profile}}</p>
    </div>
</div>
<div class="row">
    <h5>Ingredients:</h5>
    <p>Ingredients should go here</p>
    <h5>Steps:</h5>
    <p>Steps should go here</p>
    <p>Recipe by <em>{{recipe.author_name}}</em></p>
</div>
{% endblock %}
