{% extends 'base.html'%} {% block content %}
<!--<p>A specific cocktail recipe you want to see</p>-->
<div class="col s12">
    <div class="icon-block">
        <h2 class="brown-text art-deco-font">{{recipe.recipe_name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <img src="{{recipe.recipe_image}}">
    </div>
    <div class="col s12 m6">
        <h5>{{recipe.recipe_description}}</h5>
        <p><strong>Base Spirit:</strong> {{recipe.base_spirit}}</p>
        <p><strong>Cocktail Type:</strong> {{recipe.cocktail_type}}</p>
        <p><strong>Flavour Profile:</strong> {{recipe.flavour_profile}}</p>
    <!--Rating Stars with simple jQuery A PEN BY Deepak Kamat - START -->
        <section class='rating-widget'>
            <!-- Rating Stars Box -->
            <!-- PENDING - It currently lets you vote as many times as you want -->
            {% if recipe.average_rating %}
                <p>You've rated this recipe. Click on the stars to add or change your rating.</p>
            {% else %}
                <p class="hidden">You've rated this recipe. Click on the stars to add or change your rating.</p>
                <p>Rate this recipe:</p>
            {% endif %}
            <div class='rating-stars text-center'>
                <div id='stars'>
                    {% if recipe.average_rating | int >= 1 %}
                        <button class='star selected' title='Poor' data-value='1' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% else %}
                        <button class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% endif %}
                    {% if recipe.average_rating | int >= 2 %}
                        <button class='star selected' title='Fair' data-value='2' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% else %}
                        <button class='star' title='Fair' data-value='2' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% endif %}
                    {% if recipe.average_rating | int >= 3 %}
                        <button class='star selected' title='Good' data-value='3' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% else %}    
                        <button class='star' title='Good' data-value='3' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% endif %}
                    {% if recipe.average_rating | int >= 4 %}
                        <button class='star selected' title='Excellent' data-value='4' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% else %} 
                        <button class='star' title='Excellent' data-value='4' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% endif %}
                    {% if recipe.average_rating | int >= 5 %}
                        <button class='star selected' title='WOW!!!' data-value='5' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% else %}     
                        <button class='star' title='WOW!!!' data-value='5' name="action" data-url="{{ url_for('update_recipe_rating', recipe_id=recipe._id) }}">
                            <i class='fa fa-star fa-fw'></i>
                        </button>
                    {% endif %}
                </div>
            </div>
            <div class='success-box'>
                <div class='clearfix'></div>
                <p class='text-message'></p>
                <div class='clearfix'></div>
            </div>
        </section>
    <!--Rating Stars with simple jQuery A PEN BY Deepak Kamat - END -->
    </div>
</div>
<div class="row">
    <h5 class="art-deco-font">Ingredients:</h5>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>
                    <span><strong>- </strong> {{ingredient.quantity}}</span>
                    <span>{{ingredient.measure_unit}}</span>
                    <span>{{ingredient.ingredient_name}}</span>
                </li>
            {% endfor %}
        </ul>
        
        
    <h5 class="art-deco-font">Steps:</h5>
        <ol>
            {% for step in recipe.steps %}
                <li>
                    <p>{{step.step}}</p>
                </li>
            {% endfor %}
        </ol>
    <p>Recipe by <em>{{recipe.author_name}}</em></p>
</div>
{% endblock %}
