/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* PENDING - Make sure the recipe_descriptions texts are truncated so they
don't overflow their boxes*/


/* GENERAL */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.my-container {
    min-height: 35em;
}

.art-deco-font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* NAV BAR */


/* SECTIONS */
/* HOMEPAGE */
.fix-image-size {
    background-size: cover;
    width: 62em;
    height: 32em;
}
.carousel-image-1 {
    background-image: url('/static/images/header-image.jpg');
}
.carousel-image-2 {
    background-image: url('/static/images/cocktail-margarita-glass.jpg')
}
.carousel-image-3 {
    background-image: url('/static/images/mojito.jpg')
}

/* FORMS */
.float-right {
    float: right;
}


/* ALL COCKTAILS */

.class-size {
    height: 9em;
}

#description {
    height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*#cocktail-card {*/
/*    display:none;*/
/*}*/


/* MY RECIPES */
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1em; /* Change the size of the stars */
  color:#999999; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#ff4da6;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#800040;
}

/* FOOTER */

#footer-custom {
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 0px;
}

.footer-heading {
    font-size: 1.2em;
}

.footer-text {
    font-size: 0.8em;
}


/* MEDIA QUERIES */

@media (max-width:415px) {
    .mobile-hide {
        display: none!important;
    }
}