/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* PENDING - Make sure the recipe_descriptions texts are truncated so they
don't overflow their boxes*/


/* GENERAL */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.margin-right-xs {
    margin-right: 1em; 
}

.my-container {
    min-height: 35em;
}

.art-deco-font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.hidden {
    visibility: hidden;
}

/* NAV BAR */


/* SECTIONS */
/* HOMEPAGE */
.fix-image-size {
    background-size: cover;
    width: 62em;
    height: 32em;
}
#carousel-image-1 {
    background-image: url('/static/images/header-image.jpg');
}
#carousel-image-2 {
    background-image: url('/static/images/cocktail-margarita-glass.jpg')
}
#carousel-image-3 {
    background-image: url('/static/images/mojito.jpg')
}

#card-horizontal-title {
    margin-left: 1em;
}


/* FORMS */
.float-right {
    float: right;
}

.form-padding {
    padding: 1em;
}


/* ALL COCKTAILS */

.class-size {
    height: 9em;
}

#description {
    height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card {
    display:none;
}

.card-title-spice {
    background-color: rgba(136, 14, 79, 0.7);
    width: 100%;
    height: 2em;
}

.fix-image-size > h4 {
    color: white;
    font-size: 3em;
    position: relative;
    left: 1em;
    top: 2em;
    text-shadow: 3px 2px 3px rgba(50, 50, 50, 1);
}

.card-title-spice > #recipe_name {
    font-size: 0.9em!important;
    padding-bottom: 0px;
    white-space: nowrap; 
    width: 8em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#load-more-spice {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

#load-more-spice > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#sorting-bar {
    margin: 0.8em;
    height: 5em;
}

#sorting-bar > h4 {
    color: white;
}


#sorting-bar > a {
    color: #00695c;
    margin-top: 1.5em;
    /*width: 25%*/
    margin-right: 0.5em;
}

/* MY RECIPES */

.add-cocktail-box {
    margin-top: 2em;
    padding-bottom: 2em!important;
}

.add-cocktail-box > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#top-collection-item {
    padding-top: 2em!important;
}

#bottom-collection-item {
    padding-bottom: 1px!important;
}

#my-recipe-name {
    font-size: 2em;
}

#my-recpe-description {
    margin-top: 1em;
}

/* Rating Star Widgets Style */
.rating-stars div {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars div > button.star {
  display:inline-block;
  background-color: transparent;
  border: none;
  
}

/* Idle State of the stars */
.rating-stars div > button.star > i.fa {
  font-size:1em; /* Change the size of the stars */
  color:#999999; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars div > button.star.hover > i.fa {
  color:#ff4da6;
}

/* Selected state of the stars */
.rating-stars div > button.star.selected > i.fa {
  color:#800040;
}


/* My Dashboard */

/*#log-in-buttons {*/
    /*position: relative;*/
    /*bottom: -12em;*/
/*}*/

#counter-box-my-recipes {
    width: 8em;
    height: 8em;
    color: white;
}

#counter-box-my-recipes > .number-display {
    font-size: 3em;
}

#counter-box-my-recipes > p {
    font-size: 1.4em;
    margin-bottom: 0;
}

#reset-button {
    margin-top: 1.3em;
}

.margin-left {
    margin-left: 1em;
}



/* SEARCH */

.dc-chart th {
    text-align: left
}
.dc-chart th,.dc-chart td {
  padding-left: 10px;
}
.dc-chart tr.dc-table-group td {
  padding-top: 4px;
  border-bottom: 1px solid black;
}
.dc-chart select {
  width: 150px;
}

#selector-container > div > select {
    display: block;
}

.search-selector {
    display: inline-block;
}

.search-selector > p {
    font-size: 2em;
}

#teal-box {
    height: 100px;
}

#cocktails-found {
    margin-top: 1em;
    margin-bottom: 1em;
}

#datatable {
    margin-bottom: 2em;
}

/* FOOTER */

#footer-custom {
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 0px;
}

.footer-heading {
    font-size: 1.2em;
}

.footer-text {
    font-size: 0.8em;
}


/* MEDIA QUERIES */

@media (max-width:415px) {
    .mobile-hide {
        display: none!important;
    }
    
    #counter-box-my-recipes {
    width: 6em;
    height: 6em;
    color: white;
    }

    #counter-box-my-recipes > .number-display {
        font-size: 2.5em;
    }
    
    #counter-box-my-recipes > p {
        font-size: 1em;
        margin-bottom: 0;
    }
}